/*Selectores
etiqueta: h1, p, body, form, input, ul, ol, li, label
clase: .label
identificadores: #form 

Atributos:

Valores: */

h1, h2, h3, h4, h5, h6{

    background-color: gainsboro;
    border: 1px solid black;

}

#form{

    background-color: greenyellow;
    border: 10px solid black;
    margin: 20px;
    padding: 20px;

}

.label{

    display: block;
    /*margin: 10px;*/
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;    
    margin-bottom: 10px;
}